.background-image{
    margin: 0;
    background-image: url("/assets/img/pose.jpg");
    background-position: 75% center;
    justify-content: left;
    align-items: center;
    display: flex;
    background-size: cover;
}

.desc{
    min-height: 100%;
    width: 100%;
    padding: 1rem;
    background-color: #e2e3e5c3;
}

@media screen and (min-width: 576px) {
    .desc{
        width: 50%;
        background-color: transparent;
    }
}


@media screen and (min-width: 1200px) {
    .desc{
        width: 65%;
        background-color: transparent;
    }
}