<div id="hero">
  <div>
    <img src="assets/favicon.png" alt="">
    <h2 class="cardTitle">Shine brighter than ever before</h2>
    <h4>Style, quality & innovation</h4>
    <p class="p-4">
      Explore our curated collection of apparel and accessories, adorned
      with our iconic sunwave logo, designed to elevate your everyday
      moments with sophistication and flair.
    </p>
  </div>
  <div>
    <button class="btn btn-light hero-btn" routerLink="/about">About us</button>
    <button class="btn btn-light hero-btn" routerLink="/products">Our products</button>
  </div>
</div>
