.navContainer{
    position: sticky;
    top: 0;
    left: 0; 
    width: 100%;
    z-index: 1000; 
}

i{
    font-size: 3vh;
}

a{
    font-size: 2.5vh;
}

img{
    height: 5vh;
    margin-top: -7px;
}

.cart-count {
    position: relative;
    top: -18px;
    right: 8px;
    background-color: #212020a9;
    color: #ffffff;
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 10px;
  }