<div id="contact">
  <h1>
    Thank you for getting in touch, <br />
    send us a message or give us a call!
  </h1>

  <img src="assets/favicon.png" alt="" />

  <div class="content">
    <div class="form">
      <form action="">
        <label for="name">Name</label>
        <input type="text" id="name" />

        <label for="email">Email</label>
        <input type="text" id="email" />

        <label for="message">Message</label>
        <textarea name="" id="message"></textarea>

        <div>
          <button class="btn btn-light mt-3">Send message</button>
        </div>
      </form>
    </div>

    <div class="infos">
      <h4>CONTACT INFO</h4>
      <br>

      <h6><i class="bx bxs-phone"></i> 01(800)544-651</h6>
      <h6><i class="bx bxs-envelope"></i> sun&commat;wave.com</h6>
      <h6>
        <i class="bx bxs-map"></i> Villa dei Fiori d'Oro <br />
        Via dei Giardini Segreti, 456 <br />
        20100, Milano, Italia
      </h6>
    </div>
  </div>
</div>
