<div id="cart" *ngIf="cartItems.length > 0">
    <table class="table">
        <thead>
            <tr class="text-center">
                <th>img</th>
                <th>product</th>
                <th>price</th>
                <th>qtty</th>
                <th>remove</th>
                <th>subtotal</th>
            </tr>
        </thead>
        <tbody>
            @for (item of cartItems; track item; let i= $index) {
            <tr class="text-center">
                
                <td><img src="assets/img/{{item.image}}" style="height: 8vh;" alt=""></td>
                <td>{{item.name}}</td>
                <td>{{item.price}} €</td>
                <td>
                    <span><button (click)="incQtty(item)" type="button" class="btn btn-secondary btn-sm">+</button></span>
                    {{item.qtty}}
                    <span><button (click)="decQtty(item)" type="button" class="btn btn-secondary btn-sm">-</button></span>
                </td>
                <td><button (click)="removeItem(i)" type="button" class="btn btn-danger btn-sm"><i class='bx bx-trash'></i></button></td>
                <td>{{item.price*item.qtty | number:'1.2-2'}}€ </td>
            </tr>
            }
            </tbody>
    </table>
    <div class="grid m-2 text-center">
        <p><b>Subtotal:  {{subtotal | number:'1.2-2'}} €</b></p>
        <p>Tax 10% :  {{serviceFee | number:'1.2-2'}} €</p>
        <p class="fs-4"><b> Total: {{total | number:'1.2-2'}} €</b></p>
        <p *ngIf="totaldisc !== undefined" ><b>Total with 15% off: {{totaldisc | number:'1.2-2'}} €</b></p>
        <p class="btn btn-secondary">Check out</p>       
    </div>
    <br>
    
</div>
<div *ngIf="cartItems.length === 0" class="text-center" id="empty-cart">
    <h2>No items in your cart</h2>
    <p>Go to our <a [routerLink]="['/products']">product section</a> to start shopping!</p>
    <img src="assets/favicon.png" alt="" />
</div>
