<div class="prodList">

  <h1 class="text-center">RIDE THE WAVE!</h1>  
  
  <div class="row row-gap-3 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 text-center">
    
  <div *ngFor="let product of productItems; let i = index">
  
  <div >
      <div class="card" >
      <img src="./assets/img/{{product.image}}" class="card-img-top" alt="...">
      <div class="card-body" >
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">€ {{product.price}}</p>
        <hr>
        <div *ngIf="product.stock > 1; else outOfStock">
          <span>
          <a routerLink="/details/{{i}}" class="btn btn-light">Details</a>
          <a (click)="directAddToCart(i)" class="btn btn-light">Add to cart</a>
          </span>
        </div>
        <div>
        <ng-template #outOfStock>
          <br>
          <p>out of stock</p>
        </ng-template>
       </div>
       </div>
        
      </div>
  </div>
  
  </div>
  </div>
  
  <br>
</div>
