<app-hero></app-hero>
<div class="homeSect">
  <div>
    <div class="container text-start">
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
          <img width="100%" height="100%" src="./assets/img/get-the-sun.jpg" alt="" />
        </div>
        <div class="col">
          <h4>
            Where style meets innovation in every wave
          </h4>
          <br />
          <p>
            Explore our curated collection of apparel and accessories, adorned
            with our iconic sunwave logo, designed to elevate your everyday
            moments with sophistication and flair. Dive in and discover the
            essence of inspired living with Sun Wave.
          </p>
          <div>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
